# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store

# complied / packaging / distribution
__pycache__/
*$py.class
build/
dist/
downloads/
lib/
var/
wheels/
share/python-wheels/
MANIFEST
*.manifest
*.spec
*.local

# 
.ipynb_checkpoints
.scrapy
.nox/

# 
api/
secret*
!secret*.enc
credentials.json
src/*.csv

# temporary / test
data/
temp/
tmp/
test/
log/
logs/
*test
*.log
.history
